<div class="container">

    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
            <img class="logo" src="https://www.win-logo.de/home_Button.jpg" alt="" height="30px">
            <h3>HOMESTAY</h3>
            <b>Website</b>
            <p>https://Homestay.com</p>
            <br>
            <b>Call center</b>
            <p>0334965080 (Việt Nam)</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
            <h3><b>TOP HOMESTAY</b></h3>
            <h5>Homestay Đà Lạt</h5>
            <h5>Homestay Đà Nẵng</h5>
            <h5>Homestay Hà Nội</h5>
            <h5>Homestay Hồ Chí Minh</h5>
            <h5>Homestay Hạ Long</h5>
            <h5>Homestay Hội An</h5>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
            <h3><b>TOP Không gian</b></h3>
            <h5>Căn hộ dịch vụ</h5>
            <h5>Biệt thự</h5>
            <h5>Nhà riêng</h5>
            <h5>Studio</h5>
            <h5>View biển</h5>

        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
            <h3><b>Về Chúng Tôi</b></h3>
            <a href="#">Blog</a> <br>
            <a href="#">Điều khoản hoạt động</a> <br>
            <a href="#">+84 334965080</a> <br>
            <a href="#">anhson212199@gmail.com</a> <br>
            <a href="#">Trang thông tin chủ nhà</a> <br>
            <a href="#">Cơ hội nghề nghiệp</a> <br>

        </div>
    </div>

</div>