.menu ul{
    text-align: center;
    list-style-type: none;
    background: #1F568b;
}
.menu li{
    display: inline-block;
    width: 120px;
    height: 40px;
    margin-left: -5px;
}
.menu li{
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}
.menu a{
    text-decoration: none;
    color: #fff;
    display: block;
}
.menu a:hover{
    background: #F1F1F1;
    color: #333;
}