<app-admin></app-admin>
<div class="panel panel-primary">
    <div class="panel-heading">
          <h3 class="panel-title">Dich vu - Admin</h3>
    </div>
    <div class="panel-body">
          
          <button type="button" class="btn btn-danger" [routerLink]="['/admin/dichvu/adddichvu']">Add Dich Vu</button>
          
          <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Describe</th>
                      <th>Price</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of air; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.Mota}}</td>
                      <td>{{item.Gia}}</td>
                      <td>
                          
                          <button type="button" class="btn btn-success"[style.margin-right.px]="10" [routerLink]="['/admin/dichvu',item.id,'editdichvu']" routerLinkActive="router-link-active" >Edit</button>
                          
                          <button type="button" class="btn btn-danger" (click)="onDeleteDichvu(item.id)">Delete</button>
                          
                          
                      </td>
                  </tr>
              </tbody>
          </table>
          
    </div>
</div>
